# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

cmd/*/version.go
cmdv2/*/version.go

cmd/auth/tdns-auth
cmd/agent/tdns-agent
cmd/combiner/tdns-combiner
cmd/reporter/tdns-reporter
cmd/scanner/tdns-scanner
cmd/imr/tdns-imr
cmd/cli/tdns-cli
cmd/dog/dog

cmdv2/authv2/tdns-authv2
cmdv2/cliv2/tdns-cliv2
cmdv2/dogv2/dogv2
cmdv2/imrv2/tdns-imrv2
cmdv2/agentv2/tdns-agentv2
cmdv2/combinerv2/tdns-combinerv2

# old stuff; going away:
sidecar/music-sidecar
sidecar-cli/sidecar-cli
msa/tdns-msa

*/version.go

*~
*/*~
*/*/*~

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# IDE
.idea/

.vscode
